{% extends "basic.html" %} {% block title %} 질문 {% endblock %} {% block header %}
<h2><font color="blue">[질문게시판]</font></h2>
{% endblock %} {% block content %} {% if question_list %}
<table>
    <tr bgcolor="lightgray">
        <td>ID</td>
        <td>제목</td>
        <td>내용</td>
        <td>작성시간</td>
    </tr>
    {% for question in question_list %}
    <tr>
        <td>{{ question.id }}</td>
        <td>{{ question.subject }}</td>
        <td>{{ question.content }}</td>
        <td>{{ question.create_date }}</td>
    </tr>

    <tr>
        {% endfor %}
    </tr>
</table>

{% else %}
<p><font color="red">등록된 질문 없음</font></p>
{% endif %}
<p><a href="/question/create">질문 작성하기</a></p>
{% endblock %}
